

.bar{
    font-family: Helvetica;
    font-size: 12px; 
          text-align: right;
          padding: 3px;
          margin: 1px;
          color: white;
        }
        
        path {
            stroke-width: 3;
            fill: none;
        }
         
        line {
            stroke: black;
        }
         
        text {
            font-family: Helvetica;
            font-size: 11pt;
        }
        
        button{
            margin: 6px;
            width:70px;

            }
        button:hover{
            cursor: pointer;

            }
       .clearfix:after {
           content: "";
           display: table;
           clear: both;
        }            