
body {
	color:#828282;
	background-color:#D3D3D3;
}

.top {
    background-color: #ED2939;
	line-height: 35px;
	height: 40px;
}
.top .navbar-brand {
	font-family: "Helvetica Neue Light;
	font-weight: 320;
	font-size: 15px;
	line-height: 35px;
	height: 40px;
    text-align: left;
	margin: 0;
    padding: 0;
    background-color: #ED2939;
    color: #FFFFFF;
    text-decoration: none;
}

.top .container {
	font-family: "Helvetica Neue Light;
    padding: 0;
}

.bottom {
    background-color: #71A6D2;
}

.bottom .container {
   background-color: #71A6D2;
    height: 25px;
}

.axis line, .axis path {
	stroke: #8C92AC;
	stroke-width: 2;
	shape-rendering: crispEdges;
}

.axis text {
	fill: #808080;
	font-size: 11px;
	font-family: Arial;
}

.tick line {
	stroke: #FFFFFF;
	stroke-width: 0.8;
	stroke-opacity: 0.85;
}

.btn-group-vertical {

}

#spAll {
	margin-bottom: 20px;
}

# lrp > tr > td {
	text-align-center;
/*	margin-left: 5px;*/
	margin-right: 0;
	padding-right: 0;
	color: #FFFFFF;
}

#lrp {
	text-align: center;
}

#lrp > caption {
	padding-right: 0;
	margin-right: 0;
	text-align: center;
	background-color: #6D9BC3;
	color: #FFFFFF;
	font-size: 13px;
}

.table, table {
	border-collapse: collapse;
	/*border-collapse: separate;
	border-spacing: 1.5px;*/
	border: 1.5px solid #FFFFFF;
	border-radius: 7px;
}

#metricsTable {
	margin-top: 0;
	padding-top 0;
}

tr {
	margin-top: 0;
	padding-top: 2px;
}

td {
	border: 1.5px solid #FFFFFF;
}


#rowHeader {
	background-color: #6D9BC3;
	color: #FFFFFF;
	font-size: 14px;
	padding-left: 5px;
	text-align: left;
	margin-right: 0;
	padding-right: 0;
}

#trials, #rewards, #ratio {
	padding-right: 2;
	margin-right: 0;
	text-align: right;
	font-family: "Arial";
	font-weight: 300;
	color: #2E5894;
	font-size: 20px;
}

#btn1, #btn2, #btn3, #btn4 {
	border-width: 1.5px;
	border-color: #FFFFFF;
	background-color: #6D9BC3;
}

path {
	stroke-width: 2;
	fill: none;
}

line {
	stroke: gray;
}

.line {
	fill: none;
	stroke:#8C92AC;
	stroke-width: 1.5px;
}

.plotTitle {
	font-family: "Helvetica";
	font-size: 12;
	fill: #6D9BC3;
	stroke: none;
	
}







